html,
body {
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #d0e5f2;
  font-family: "La Belle Aurore", cursive;
  font-family: "La Belle Aurore", "KaiTi", "Ma Shan Zheng", cursive;
  color: #523c30;
}
